.pagination li{
	float:left;
	list-style:none;
	margin:0px 10px;
}
.pagination li a{
	display:block;
	border:1px solid #006064;
	border-radius:10px;
	padding:10px 20px;
	cursor:pointer;
	color:#333;
}
.pagination li.active a{
	background:#00838f;
	color:#fff;
}
.pagination-btns{
	float:left;
	padding:10px 20px;
	background:#00838f;
	border:1px solid #0097a7;
	border-radius:5px;
	cursor:pointer;
	color:#fff;
}
.pagination-btns:disabled{
	background:#b2ebf2;
	color:#333;
}